  <div class="text_box">
       <h3>Buy and sell anything ,Just login and start Creating your ads</h3>
  </div>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-custom-one" %>
<% end %>


<% @listings.each do |listing| %>
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
<div class="team-wrapper">
<div class="team-inner" >
<div class="thumbnail">
<%= link_to image_tag(listing.image.url(:medium)), listing %>
<a href="#" target="_blank" > <i class="fa fa-twitter" ></i></a>
</div>
<div class="description">
<h3> <%= listing.name %></h3>
<h5> <strong> <%= number_to_currency(listing.price) %> </strong></h5>
<p>
<%= "Sold by #{listing.user.name}"%>
</p>
<% if (user_signed_in?) && (current_user == listing.user) %>
        <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-default" %> 
        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        <% end %>
</div>
</div>
</div>
</div>
<% end %>

<br>

